<div class="rule">
	<h4><%= rule.title %></h4>
	<p><%= raw(rule.description) %></p>
	<!-- <%= link_to 'Show', rule %> -->
	<% if current_user == rule.user %>
	<p><%= link_to 'Edit', edit_rule_path(rule) %> |
	<%= link_to 'Delete', rule, method: :delete, data: { confirm: 'Are you sure?' } %></p>
	<% end %>
</div>