<div class="row">
	<div class="span8 offset2">
		<div class="well">
			<p>
			  <h4><%= @rule.title %></h4>
			</p>

			<p>
			  <%= raw(@rule.description) %>
			</p>
			<p>
				<% @rule.tags.any? %>
				  <% @rule.tags.each do |tag| %>
				  <%= link_to tag.name, tagged_url(:tag => tag.name), :class => "tag" %>
				<% end %>
			</p>
			<% if current_user == @rule.user %>
				<%= link_to 'Edit', edit_rule_path(@rule) %> |
			<% end %>
			<%= link_to 'Back', rules_path %>
		</div>
	</div>
</div>


